.game-container {
  margin: 2.5rem auto 0;
  display: grid;
  grid-template-columns: 270px 600px;
  grid-template-rows: auto 650px auto;
  grid-gap: 0.5rem;
  grid-template-areas:
    "history-title question-title"
    "sidebar question"
    "reset options";
  justify-content: center;
  &__history-title, &__question-title {
    margin: 0;
  }
  &__history-title {
    grid-area: history-title;
  }
  &__question-title {
    grid-area: question-title;
  }
  &__question-title {
    text-align: center;
  }
  @include breakpoint(laptop) {
    & {
      margin: 3rem;
      grid-template-columns: 1fr 2fr;
      grid-template-rows: auto 550px auto;
    }
  }
  @include breakpoint(tablet) {
    & {
      margin: 0.5rem;
      grid-template-columns: 1fr;
      grid-template-rows: auto 420px minmax(5rem, auto) auto 500px auto;
      grid-template-areas:
        "question-title"
        "question"
        "options"
        "history-title"
        "sidebar"
        "reset";
    }
  }
  @include breakpoint(mobile) {
    grid-template-rows: auto 300px minmax(100px, auto) auto 500px auto;
  }
  @include breakpoint(mobile-landscape) {
    margin: 0.5rem;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: auto minmax(250px, 80vh) auto 100vh auto;
    grid-template-areas:
      "question-title ."
      "question options"
      "history-title history-title"
      "sidebar sidebar"
      "reset reset";
  }
}
