$correct-green: #06c725;
$incorrect-red: #ec3c3c;

// TODO: move colors, dimensions, etc. to variables
// TODO: do mobile styles
// TODO: change options to flexbox
// TODO: move score on mobile

* {
  box-sizing: border-box;
}

:root {
  font-size: 16px;
}

body {
  background-color: #2f3140;
  font-family: 'Roboto', sans-serif;
}

h2 {
  font-size: 1.5rem;
  font-weight: normal;
  line-height: 1.5rem;
  margin: 0.5rem 0;
}

p {
  font-size: 1rem;
  line-height: 1.25;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

li {
  text-align: left;
}

button {
  border: none;
  cursor: pointer;
}

.game-container {
  margin: 3rem auto;
  display: grid;
  grid-template-columns: 250px 550px;
  grid-template-rows: auto 600px auto;
  grid-gap: 0.5rem;
  grid-template-areas:
    "history-title question-title"
    "left-sidebar question-image"
    "reset options";
  justify-content: center;
  &__history-title, &__question-title {
    color: #fff;
    margin: 0;
  }
  &__history-title {
    grid-area: history-title;
  }
  &__question-title {
    grid-area: question-title;
  }
  &__question-title {
    text-align: center;
  }
  @media (max-width: 840px) {
    & {
      margin: 3rem;
      grid-template-columns: 1fr 2fr;
      grid-template-rows: auto 550px auto;
    }
  }
  @media (max-width: 630px) {
    & {
      margin: 0.5rem;
      grid-template-columns: 1fr;
      grid-template-rows: auto 450px minmax(150px, auto) auto 500px auto;
      grid-template-areas:
        "question-title"
        "question-image"
        "options"
        "history-title"
        "left-sidebar"
        "reset";
    }
  }
  @media (max-width: 320px) {
    grid-template-rows: auto 300px minmax(100px, auto) auto 500px auto;
  }
}

.left {
  display: flex;
  flex-direction: column;
  grid-area: left-sidebar;
  @media (max-width: 840px) {
    & {
      min-width: 0;
    }
  }
}

.score {
  background-color: #fff;
  border-radius: 5px;
  padding: 0.25rem 0.5rem;
  text-align: right;
  margin-bottom: 0.5rem;
  p {
    margin: 0;
  }
  .score__title {
    color: #535353;
    font-family: 'Roboto Mono', monospace;
    text-transform: uppercase;
    font-size: 0.75rem;
    margin-bottom: 0.125rem;
  }
}

.question-history {
  flex: 1;
  min-height: 0;
  &__list {
    height: 100%;
    border-radius: 5px;
    overflow-x: hidden;
    overflow-y: scroll;
    background-color: #fff;
  }
  &__item:nth-child(even) {
    background-color: #eeeeee;
  }
  &__item:nth-child(odd) {
    background-color: #fff;
  }
}

.question-card {
  display: flex;
  padding: 0.5rem;
  justify-content: space-between;
  &__image {
    align-self: center;
    height: auto;
    max-width: 60px;
    max-height: 100px;
    margin-right: 0.5rem;
    border-radius: 3px;
    @media (max-width: 840px) {
      & {
        max-width: 50px;
      }
    }
  }
  &__info {
    text-align: right;
    min-width: 0;
    max-width: 160px;
  }
  &__title {
    color: #535353;
    font-family: 'Roboto Mono', monospace;
    font-size: 0.75rem;
    text-transform: uppercase;
    margin-top: 0;
    margin-bottom: 0.25rem;
  }
  &__subreddit, &__guess {
    display: inline-block;
    margin: 0;
    max-width: 100%;
    word-wrap: break-word;
    text-align: left;
    line-height: 1;
  }
  &__subreddit {
    margin-bottom: 0.5rem;
  }
  &__guess {
    display: inline-block;
    text-transform: lowercase;
    color: #fff;
    padding: 2px 8px;
    border-radius: 15px;
  }
  &--correct &__guess {
    background-color: $correct-green;
  }
  &--incorrect &__guess {
    background-color: $incorrect-red;
  }
}

.question {
  height: 100%;
  text-align: center;
  background-color: #fff;
  border-radius: 5px;
}

.question-image {
  display: flex;
  justify-content: center;
  align-items: center;
  grid-area: question-image;
  width: 100%;
  height: 100%;
  padding: 10px;
  &__placeholder {
    width: 100%;
    height: 100%;
  }
  &__container {
    // flex styles for browsers that don't support fit-content
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    width: 100%;
    height: 100%;
    max-width: fit-content;
    max-height: fit-content;
    &--has-placeholder {
      max-width: none;
    }
    &--shimmer:after {
      content: "";
      display: block;
      position: absolute;
      top: 0;
      background: linear-gradient(to right, #cbcbcb 5%, #ececec 30%, #cbcbcb 40%);
      opacity: 0.3;
      width: 100%;
      height: 100%;
      background-size: 1000px;
      animation-name: placeholder-shimmer;
      animation-fill-mode: forwards;
      animation-duration: 3s;
      animation-iteration-count: infinite;
      z-index: 10;
    }
  }
  &__image {
    vertical-align: middle;
    max-width: 100%;
    max-height: 100%;
  }
}

@keyframes placeholder-shimmer {
  0% {
    background-position: -500px 0;
  }
  100% {
    background-position: 500px 0;
  }
}

.options {
  grid-area: options;
  text-align: center;
  margin-bottom: 0.5rem;
  &__option {
    display: inline-block;
    &:not(:last-child) {
      margin-right: 10px;
    }
  }
  &__btn {
    font-size: 1rem;
    line-height: 1rem;
    padding: 0.5rem;
    border-radius: 3px;
    margin-bottom: 0.75rem;
    background-color: #eed894;
    box-shadow: 0 4px #daa849;
    transition: background-color 0.2s;
    &:hover {
      box-shadow: 0 4px #daa849;
      background-color: #f5ecd1;
    }
    &:active {
      transform: translateY(4px);
      box-shadow: none;
    }
    @media (max-width: 840px) {
      & {
        line-height: 1.5rem;
      }
    }
  }
}

.reset {
  grid-area: reset;
  text-align: right;
  &__btn {
    font-size: 1rem;
    padding: 0 0.5em;
    border-radius: 3px;
    line-height: 1.5rem;
    background-color: #eeb294;
    box-shadow: 0 4px #da7549;
    transition: background-color 0.2s;
    &:hover {
      box-shadow: 0 4px #da7549;
      background-color: #f5d6d1;
    }
    &:active {
      transform: translateY(4px);
      box-shadow: none;
    }
    @media (max-width: 840px) {
      width: 100%;
      padding: 0.5rem;
    }
  }
}

.error {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  &__message {
    margin-top: 0;
    margin-bottom: 0.5rem;
  }
  &__retry-btn {
    font-size: 1rem;
    padding: 0 0.5em;
    border-radius: 3px;
    line-height: 1.5rem;
    margin: 0;
  }
}

.toast {
  position: absolute;
  left: 50%;
  top: 0;
  z-index: 50;
  &__message {
    border-radius: 0 0 5px 5px;
    padding: 0.5rem 1rem;
    position: relative;
    left: -50%;
    &--green {
      background-color: $correct-green;
    }
    &--red {
      background-color: $incorrect-red;
    }
  }
  &__text {
    text-align: center;
    margin: 0;
    color: #fff;
  }
  @media (max-width: 630px) {
    & {
      margin: 0 0.5rem;
      left: 0;
      right: 0;
      &__message {
        left: 0;
      }
    }
  }
}

// FIXME: toast height isn't always 32 px...
.toast-enter {
  .toast__message {
    transform: translateY(-100%);
  }
}

.toast-enter.toast-enter-active {
  .toast__message {
    transform: translateY(0);
    transition: transform 150ms ease-in;
  }
}

.toast-exit {
  .toast__message {
    transform: translateY(0);
    top: 0;
  }
}

.toast-exit.toast-exit-active {
  .toast__message {
    transform: translateY(-100%);
    transition: transform 150ms ease-in;
  }
}
